# PYTHON BASICO - PRIMERA UNIDAD

En este notebook se presentan algunos fundamentos del lenguaje de programación Python

## TIPO DE DATOS

In [ ]:
# Integer
a = 1
print(a)

# Float
b = 1.0
print(b)

# String
c = "Hello world"
print(c)

# List (array)
e = [1, 2, 3]
print(e[2]) # 3

# Tuple (constant array)
f = (1, 2, 3)
print(f[0]) # 1

# Set
g = {1, 1, 1, 2}
print(g)

# Dictionary (hash table, hash map)
g = {1: 'One', 2: 'Two', 3: 'Three'}
print(g[1]) # 'One'

## NUMEROS

In [1]:
6 * 2

12

In [2]:
a = 6
b = 2
a * b

12

In [3]:
print(a)
print(b)
print(a * b)
print(a / b)

6
2
12
3

In [4]:
print('El valor es de', a)

('the value of a is', 6)

In [5]:
a ** b

36

In [6]:
print('1/3 es', 1 / 3)

('1/3 gives', 0)

## STRINGS

In [ ]:
str1 = 'This is a string'
str1

In [ ]:
greeting = "Hello World!"
greeting

In [ ]:
str1 = 'Hello'
str2 = ' World'
print(str1 + str2)

In [ ]:
style_char = '-'
style_char * 10

In [ ]:
word = 'buffalo '
print(word * 8)

## OPERADORES

- Arithmetic operators
    - \+ addition
    - \- subtraction
    - \* multiplication
    - / division (float output)
    - // division (integer output, result is not rounded)
    - ** exponentiation
    - % modulo
    
- String operators
    - \+ string concatenation
    - \* string repetition
    
- Comparison operators
    - == equal to
    - \> greater than
    - < less than
    - != not equal to
    - \>= greater than or equal to
    - <= less than or equal to
    
- Boolean logic
    - and logical and
    - or logical or
    - not logical not
 
- Bitwise operators
    - & and
    - | or
    - ^ exclusive or
    - ~ invert bits

## ESTRUCTURAS

### Comprobacion de Estado

In [ ]:
num = 5
num > 2

In [ ]:
num > 3 and num <= 5

In [ ]:
num % 3 == 0 or num % 5 == 0

In [ ]:
fav_fiction = 'Harry Potter'
fav_detective = 'Sherlock Holmes'
fav_fiction == fav_detective

In [ ]:
fav_fiction == "Harry Potter"

### if

In [ ]:
num = 45
if num > 25:
    print("El numero {} is mayor que 25".format(num))

In [ ]:
if num % 2 == 0:
    print("{} es un numero par".format(num))
else:
    print("{} es un numero inpar".format(num))

In [ ]:
if num < 0:
    print("{} es un numero negativo".format(num))
elif num > 0:
    print("{} es un numero positivo".format(num))
else:
    print("{} no es ni negativo ni positivo".format(num))

In [7]:
num = 42

num_type = 'par' if num % 2 == 0 else 'inpar'
print("{} es un numero {}".format(num, num_type))

42 is an even number

### for

In [8]:
number = 9
for i in range(1, 5):
    mul_table = number * i
    print("{} * {} = {}".format(number, i, mul_table))

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36

### while

In [10]:
cont = 0
while cont < 10:
    print cont
    cont = cont +1

0
1
2
3
4
5
6
7
8
9

### continue and break

In [36]:
prev_num = 0
curr_num = 0
print("los primeros 10 numeros de la serie de fibonachi son")

for num in range(10):
    print(curr_num)

    if num == 0:
        curr_num = 1
        continue

    temp = curr_num
    curr_num = curr_num + prev_num
    prev_num = temp

los primeros 10 numeros de la serie de fibonachi son
0
1
1
2
3
5
8
13
21
34

In [37]:
import random

while True:
    random_int = random.randrange(500)
    if random_int % 4 == 0 and random_int % 6 == 0:
        break
print("Numero aleatorio divisible entre 4 y 6: {}".format(random_int))

Numero aleatorio divisible entre 4 y 6: 72

## LISTAS

### Listas Simples

In [ ]:
vowels = ['a', 'e', 'i', 'o', 'u']
vowels

In [ ]:
vowels[0]

In [ ]:
vowels[2]

In [ ]:
vowels[10]

In [ ]:
even_numbers = list(range(2, 11, 2))
even_numbers

In [ ]:
even_numbers[-1]

In [ ]:
even_numbers[-2]

### Listas de diferentes tipos de data y listas multidimensionales

In [ ]:
student = ['learnbyexample', 2016, 'Linux, Vim, Python']

In [ ]:
print(student)

In [ ]:
list_2D = [[1, 3, 2, 10], [1.2, -0.2, 0, 2]]

In [ ]:
list_2D[0][0]

### *"Slicing"* y Modificando Listas

In [ ]:
books = ['Harry Potter', 'Sherlock Holmes', 'To Kill a Mocking Bird']
books[2] = "Ender's Game"

In [ ]:
print(books)

In [ ]:
prime = [2, 3, 5, 7, 11]

In [ ]:
prime[2:4]

In [ ]:
prime[:3]

In [ ]:
prime[3:]

### Copiando Listas

In [15]:
a = [1, 2, 5, 4.3]

In [16]:
b = a

In [18]:
a

[1, 2, 5, 4.3]

In [19]:
b[0] = 'xyz'

In [22]:
b

['xyz', 2, 5, 4.3]

In [23]:
a = [1, 2, 5, 4.3]

In [28]:
import copy
b = copy.deepcopy(a)

In [ ]:
b

In [31]:
b[0] = 'xyz'

In [33]:
b

[1, 2, 5, 4.3]

### Insertar mas elementos

In [ ]:
books = []
books

In [ ]:
books.append('Harry Potter')

In [ ]:
books

In [ ]:
even_numbers = [2, 4, 6, 8, 10]
even_numbers

In [ ]:
even_numbers += [12, 14, 16, 18, 20]

In [ ]:
even_numbers

In [ ]:
even_numbers = [2, 4, 6, 8, 10]
even_numbers.extend([12, 14, 16, 18, 20])
even_numbers

In [ ]:
a = [[1, 3], [2, 4]]
a.extend([[5, 6]])
a

### Borrar elementos de lista

In [ ]:
prime = [2, 3, 5, 7, 11]
prime

In [ ]:
prime.pop()

In [ ]:
prime

In [ ]:
prime.pop(0)

In [ ]:
prime

In [ ]:
list_2D = [[1, 3, 2, 10], [1.2, -0.2, 0, 2]]

In [ ]:
list_2D[0].pop(0)

In [ ]:
list_2D

In [ ]:
list_2D.pop(1)

In [ ]:
list_2D

In [ ]:
books = ['Harry Potter', 'Sherlock Holmes', 'To Kill a Mocking Bird']
del books[1]
books

In [ ]:
list_2D = [[1, 3, 2, 10], [1.2, -0.2, 0, 2]]
del list_2D[0][1]
list_2D

In [ ]:
del list_2D[0]
list_2D

In [ ]:
prime = [2, 3, 5, 7, 11]
prime.clear()
prime

In [ ]:
even_numbers = [2, 4, 6, 8, 10]
even_numbers.remove(8)
even_numbers

### Insertar elementos en un lugar particular

In [ ]:
books = ['Harry Potter', 'Sherlock Holmes', 'To Kill a Mocking Bird']
books.insert(2, "The Martian")
books

### Saber el indice de un elemento

In [ ]:
even_numbers = [2, 4, 6, 8, 10]
even_numbers.index(6)

### Saber si un elemento está en una lista

In [ ]:
prime = [2, 3, 5, 7, 11]

In [ ]:
3 in prime

In [ ]:
13 in prime

### Ordenar

In [ ]:
a = [1, 5.3, 321, 0, 1, 2]
a.sort()
a

In [ ]:
a = [1, 5.3, 321, 0, 1, 2]
a.sort(reverse=True)
a

In [ ]:
words = ['fuliginous', 'crusado', 'morello', 'irk', 'seam']
words.sort(key=len)
words

### Diversos

In [ ]:
a = [321, 899.232, 5.3, 2, 1, -1]
min(a)
max(a)

In [ ]:
nums = [15, 99, 19, 382, 43, 19]
nums.count(99)

In [ ]:
prime = [2, 3, 5, 7, 11]
len(prime)

In [34]:
a = [321, 5.3, 2, 1, 1, 0]
sum(a)

330.3

In [ ]:
import random
a = [4, 5, 2, 76]
random.choice(a)

In [ ]:
a = [4, 5, 2, 76]
random.shuffle(a)

In [ ]:
random.sample(a, k=3)

## SECUENCIAS, SET Y DICCIONARIOS

### Strings

In [ ]:
book = "Alchemist"
book[0]

In [ ]:
book[-1]

In [ ]:
book[2:6]

In [ ]:
list(book)

In [ ]:
import string
string.ascii_lowercase[:10]

In [ ]:
for char in book:
    print(char)

In [ ]:
len(book)

In [ ]:
'A' in book

In [ ]:
'z' not in book

In [ ]:
min('zealous')

In [ ]:
max('zealous')

### Set

In [ ]:
nums = {3, 2, 5, 7, 1, 6.3}
nums

In [ ]:
primes = {3, 2, 11, 3, 5, 13, 2}
primes

In [ ]:
nums.union(primes)

In [ ]:
book = "Alchemist"
set(book)

In [ ]:
set([1, 5, 3, 1, 9])

In [ ]:
list(set([1, 5, 3, 1, 9]))

### Diccionarios

In [39]:
marks = {'Rahul' : 86, 'Ravi' : 92, 'Rohit' : 75}

In [40]:
marks

{'Rahul': 86, 'Ravi': 92, 'Rohit': 75}

In [41]:
fav_books = {}

In [42]:
fav_books['fantasy']   = 'Harry Potter'
fav_books['detective'] = 'Sherlock Holmes'
fav_books['thriller']  = 'The Da Vinci Code'
fav_books

{'detective': 'Sherlock Holmes',
 'fantasy': 'Harry Potter',
 'thriller': 'The Da Vinci Code'}

In [43]:
marks.keys()

['Rohit', 'Ravi', 'Rahul']

In [44]:
fav_books.values()

['Sherlock Holmes', 'Harry Potter', 'The Da Vinci Code']

In [45]:
for book in fav_books.values():
    print(book)

Sherlock Holmes
Harry Potter
The Da Vinci Code

In [47]:
for name, mark in marks.items():
    print(name, mark)

('Rohit', 75)
('Ravi', 92)
('Rahul', 86)

In [ ]:
marks['Rajan'] = 79

In [ ]:
marks

In [ ]:
del marks['Ravi']

In [ ]:
len(marks)

In [ ]:
fav_books

In [ ]:
"fantasy" in fav_books

In [ ]:
"satire" in fav_books

## FUNCIONES

In [49]:
def greeting():
    print("-----------------------------")
    print("         Hello World         ")
    print("-----------------------------")

In [51]:
greeting()

-----------------------------
         Hello World
-----------------------------

In [52]:
def sumar_numeros(num1, num2):
    total = num1 + num2
    print("{} + {} = {}".format(num1, num2, total))

In [53]:
sumar_numeros(2,4)

2 + 4 = 6

In [54]:
def num_cuadrado(num):
    return num*num

In [55]:
num_cuadrado(4)

16